{
    "sourceMaps": true,
    "plugins": [
        "lodash",
        "transform-class-properties"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "10",
                }
            }
        ]
    ]
}
